@keyframes loading{
	to{
		transform: translate(-50%, -50%) rotate(720deg);
	}
}

body{
	background-color: #A8A8A8;
	background-image: linear-gradient(to right, #686868, transparent 3em, transparent calc(100% - 3em), #686868),
		linear-gradient(to bottom, #686868, transparent 3em, transparent calc(100% - 3em), #686868);
}

modal-container{
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

modal-container album-loader{
	animation-name: loading;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border-color: darkgray;
	border-top-color: green;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-style: double;
	border-width: 10px;
	display: inline-block;
	height: 11em;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 11em;
}

modal-container album-modal{
	background-color: #424242;
	display: none;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 35em;
	left: 50%;
	padding-bottom: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 1.5em;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 75em;
}

modal-container album-modal #download-album{
	display: block;
	height: 3em;
	margin-left: auto;
	margin-right: auto;
	width: 14em;
}

modal-container album-modal .album-info{
	grid-column: 1 / 3;
	text-align: center;
}

modal-container album-modal .album-image{
	background-color: black;
	background-size: contain;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-color: white;
	border-style: ridge;
	border-width: 0.6em;
	display: inline-block;
	height: 20em;
	margin-bottom: 3em;
	margin-top: 3em;
	width: 20em;
}

modal-container album-modal .album-list{
	grid-column: 3 / 5;
	text-align: center;
}

modal-container album-modal .album-list album-list{
	display: block;
	overflow-y: auto;
	height: 31em;
}

modal-container album-modal .album-list .song{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
}

modal-container album-modal .album-list .song-title{
	display: inline-block;
	grid-column: 1 / 4;
	line-height: 2em;
}

modal-container album-modal .album-list audio{
	display: inline-block;
	grid-column: 4 / 8;
	height: 2em;
	width: inherit;
}

modal-container modal-closer{
	background-image: linear-gradient(to bottom right, transparent calc(50% - 3px), darkred calc(50% - 3px), darkred calc(50% + 3px), transparent calc(50% + 3px)),
		linear-gradient(to bottom left, transparent calc(50% - 3px), darkred calc(50% - 3px), darkred calc(50% + 3px), transparent calc(50% + 3px));
	display: inline-block;
	height: 2.5em;
	position: fixed;
	right: 1em;
	top: 1em;
	width: 2.5em;
}

modal-container album-modal .album-list audio::-webkit-media-controls-current-time-display, modal-container album-modal .album-list audio::-webkit-media-controls-time-remaining-display{
	color: lightgray;
	box-shadow: none;
	text-shadow: 0 0 4px lightgray;
}

modal-container album-modal .album-list .song audio::-webkit-media-controls-panel{
	background-color: #383838;
}
modal-container album-modal .album-list .song:nth-child(even) audio:nth-child(even)::-webkit-media-controls-panel{
	background-color: #686868;
}

modal-container.opened{
	display: block;
}

modal-container.opened album-modal.loaded{
	display: grid;
}

modal-container.opened album-modal.loaded+album-loader{
	animation-name: none;
	display: none;
}

modal-container.opened album-modal:not(.loaded)~modal-closer{
	display: none;
}

base-container{
	display: block;
	height: 100%;
	width: 100%;
}

base-container h1{
	margin: 0;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	text-transform: capitalize;
	position: relative;
	z-index: 0;
}

button.runner{
	background-color: lightgreen;
	box-shadow: 0px 0px 10px lightgreen;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	display: block;
	font-size: 48px;
	height: 6em;
	left: 50%;
	outline: none;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 6em;
}
button.runner:hover{
	background-color: orange;
	box-shadow: 0 0 16px orange;
}
button.runner:active{
	background-color: purple;
	box-shadow: 0 0 16px purple;
}
sulvic-list{
	display: block;
	text-align: center;
}
sulvic-list album-viewer{
	background-color: skyblue;
	background-size: contain;
	border-color: blueviolet;
	border-bottom-left-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
	border-style: solid;
	border-width: 0.4em;
	box-shadow: 0px 0px 0.6em black;
	display: inline-block;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.5em;
	height: 12em;
	width: 12em;
}

#button-loc{
	text-align: center;
	padding-top: 3em;
}

#button-loc .album-saver{
	background-image: linear-gradient(to bottom, #E0E0E0, #f0f0f0, #E0E0E0);
	border-color: #BABABA;
	border-style: solid;
	border-width: thin;
	margin-bottom: 0.4em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-top: 0.4em;
	outline-style: none;
	padding-bottom: 1.75em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: 1.75em;
	width: 20em;
}
