body, html{
	margin: 0;
}

body{
	display: grid;
}

header{
	align-items: center;
	background-image: linear-gradient(to bottom, blueviolet 90%, transparent);
	display: flex;
	padding: 0.75em 0.5em 1.75em 0.5em;
	justify-content: space-between;
}

header object{
	display: flex;
	flex: 0 1 8em;
}

header .end-helper{
	display: flex;
	flex: 0 1 8em;
}

header .search-links{
	display: grid;
	grid-gap: 0.5em;
}

header .search-links form{
	display: flex;
	flex: 0 1 30em;
	justify-content: stretch;
}

header .search-links form button, header .search-links form input{
	background-color: #EEE;
	border: thin #6F9 solid;
	border-radius: 6px;
}

header .search-links form button{
	border-radius: 0 6px 6px 0;
	border-left: none;
}

header .search-links form input{
	border-radius: 6px 0 0 6px;
	border-right: none;
	flex: auto;
}

header .search-links form img{
	height: 20px;
	position: relative;
	width: 20px;
	top: 1px;
	left: 1px;
}

header .search-links nav{
	align-items: center;
	display: flex;
	flex: 0 1 4em;
}

header .search-links nav a{
	background-image: linear-gradient(to bottom, #CFF 0%, #9CF 60%, #09C 100%);
	border: thin rgba(192, 192, 192, 0.75) outset;
	color: teal;
	font-size: 20px;
	text-decoration: none;
	padding: 0.8em 1.25em;
}

header .search-links nav a:active{
	background-image: linear-gradient(to bottom, #09C 0%, #9CF 40%, #CFF 100%);
	color: crimson;
}

header .search-links nav a:first-child{
	border-radius: 0.5em 0 0 0.5em;
}

header .search-links nav a:hover{
	color: crimson;
}

header .search-links nav a:last-child{
	border-radius: 0 0.5em 0.5em 0;
}
