.album-container .name{
	font-size: 20px;
	font-weight: bold;
}
.album-container .album .song{
	background-color: #F8F8F8;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.album-container .album .song:nth-child(even){ background-color: #E8E8E8; }
.album-container .album .song .song-name{
	margin-top: 0.5em;
	margin-left: 1.5em;
}
.album-container .album .song .song-player{
	display: inline-block;
	position: relative;
	height: 2em;
	width: 100%;
}
.album-saver{
	background: linear-gradient(to bottom, rgba(224, 224, 224), rgba(240, 240, 240), rgba(240, 240, 240), rgba(224, 224, 224));
	border: thin solid rgba(186, 186, 186);
	border-radius: 0.4em;
	padding: 1.75em 0.75em;
	margin: 0.4em 0.2em;
	outline: none;
	width: 18em;
}
.album-saver:active{
	background: linear-gradient(to bottom, rgba(186, 186, 186), rgba(192, 192, 192), rgba(192, 192, 192), rgba(186, 186, 186));
	border: thin solid rgba(130, 130, 130);
}